.modal .modal-content {
    padding: 30px;
}

.form-submit{
    cursor: pointer;
    float: right;
    margin-left: 5px;
}

h2 {
    padding-bottom: 40px;
}

.captcha-image {
    padding-left: 0;
    width: auto;
}

@media only screen and (max-width: 992px) {
    .modal .modal-dialog {
        max-width: 80%;
    }
}